body {

}

/***************************************section 1****************************************/
h1 {
    font-size: 45px;
    font-family: 'Franklin Gothic Medium'
}

h2 {
    font-size: 22px; 
    font-family: Arial; 
    text-align: center;
    
}

img {
max-width: 100%;
}

.container {
    width:100%;
    margin: 0 auto;
    padding: 0 16px;

}

.clearfix::before {
    content: "";
    display: table;
    clear: both;
  }

.section--header {
    background-color: #445162;
    color:#fff;
    padding-bottom: 55px;
    padding-top: 10px;
}

.section--header .container {
display:flex;
justify-content: space-between;
}

.check-list {
    font-size: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 12px;
}

.check-list__item {}

.check-list__item:not(:last-child) {
    margin-bottom: 15px;
}

.check-list__item img{
margin-right: 10px;
}

.section--header .container>div:last-child {
padding-top: 42px;
}
/********************************************************section 2***************************************************/
.section--about{
    background-color:#fff;
    color: #445162;
    padding-bottom: 55px;  
    padding-top: 26px;
}

.section--about .title {
    text-align: left;
}

.section--about .container {
    display:flex;
    justify-content: space-between;   
}


p {
    font-size: 15px;
    list-style: none;
    padding: 10px;
    margin: 0;
    line-height: 20px;
}
p:not(:last-child){
    padding-top: 11px;
}

.section--about .container>div:first-child {
    width: 640px;
}

.section--about .container>div:last-child {
    padding-top: 24px;
    }

/********************************************************section 3***************************************************/
.section--dignity {
    background-color: #f5f5f5;
    color: #445162;
    padding-bottom: 55px; 
    padding-top: 30px;
}

.cross .container {
    display:flex;
    justify-content: space-between;   
}


.cross img{

  background-color: #445162;
}

.cross li {
    font-size: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 12px;
}

.cross li:not(:nth-child(4)):not(:nth-child(5)):not(:last-child) .container {
    
}


/********************************************************section 4***************************************************/
.section--screenshots {}

/********************************************************section 5***************************************************/
.section--reviews {
    background-color: #f5f5f5;
}
/********************************************************section 6***************************************************/
.section--buy {}

/********************************************************section 7***************************************************/
.section--contacts {
    background-color: #445162;
    color:#fff;
}

/******************************************media*****************************************/
@media (max-width: 600px) {
    .container {
        width: 100%;
    }
    .section--header .container {
        flex-direction: column;

    }    
}
@media (min-width: 980px){
    .container {

        width: 976px;
    }
}