body {}

/***************************************section 1****************************************/
h1 {
    font-size: 45px;
    font-family: 'Franklin Gothic Medium'
}

h2 {
    font-size: 22px;
    font-family: Arial;
    text-align: center;

}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;

}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.section--header {
    background-color: #445162;
    color: #fff;
    padding-bottom: 55px;
    padding-top: 10px;
}

.section--header .container {
    display: flex;
    justify-content: space-between;
}

.check-list {
    font-size: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 12px;
}

.check-list__item:not(:last-child) {
    margin-bottom: 15px;
}

.check-list__item img {
    margin-right: 10px;
}

.section--header .container>div:last-child {
    padding-top: 42px;
}

/********************************************************section 2***************************************************/
.section--about {
    background-color: #fff;
    color: #445162;
    padding-bottom: 55px;
    padding-top: 26px;
}

.section--about .title {
    text-align: left;
}

.section--about .container {
    display: flex;
    justify-content: space-between;
}


p {
    font-size: 15px;
    list-style: none;
    padding: 10px;
    margin: 0;
    line-height: 20px;
}

p:not(:last-child) {
    padding-top: 11px;
}

.section--about .container>div:first-child {
    width: 640px;
}

.section--about .container>div:last-child {
    padding-top: 24px;
}

/********************************************************section 3***************************************************/
.section--dignity {
    background-color: #f5f5f5;
    color: #445162;
    padding-bottom: 55px;
    padding-top: 30px;
}

.cross .container {
    display: flex;
    justify-content: space-between;
}

.cross {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cross img {

    background-color: #445162;

    float: left;

    margin: 10px;

    height: 20px;

}

.cross li {
    font-size: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 12px;
    float: right;
    display: flex;
}


.dignity-list__item {
    display: flex;
    justify-content: space-between;
}

/********************************************************section 4***************************************************/
.section--screenshots {
    color: #445162;
}

.title-list__item {
    display: flex;
    justify-content: space-between;
}

.title-list {
    margin: 0px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.title-list__item img {
    margin-right: 10px;

}



/********************************************************section 5***************************************************/
.section--reviews {
    background-color: #f5f5f5;
    color: #445162;
    margin-bottom: 50px;
    margin-top: 50px;

}

.reviews-list {
    margin: 0px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.reviews-list__item {
    display: flex;
    justify-content: space-between;
}

.reviews-list__item p {
    background-color: #ebebeb;
    border: 0px;
    border-radius: 6px;
    position: relative;
    font-style: italic;
}

.reviews-list__item p::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ebebeb transparent transparent;
}

.reviews-list__item img {
    height: 75px;
    margin-right: 20px;
}

.reviews-list__item span {
    color: #bcbcbc;
    font-style: normal;

}

/********************************************************section 6***************************************************/
.section--buy {
    color: #445162;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cards li {
    padding: 5px;

}

.title-card {
    text-align: center;
    font-size: 20px;
}

.card {
    background-color: #445162;
    color: white;
    border: 2px solid #445162;
    border-radius: 6px;
}

.card p {
    background-color: #fff;
    color: #445162;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}

.btn {
    text-align: center;
    font-size: 25px;
    color: #445162;
    background-color: #fff;
    width: 86%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;

}

/********************************************************section 7***************************************************/
.section--contacts {

    background-color: #445162;
    color: #fff;
    margin-top: 50px;
}

.section--contacts .container {

    display: flex;
    justify-content: space-between;

}

.contact-form {

    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin-left: 150px;

}

#name {

    width: 479px;
    height: 40px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 5px;
    display: block;
    padding: 0px 11px;
    font-size: 20px;

}

#email {

    width: 479px;
    height: 40px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 5px;
    display: block;
    padding: 0px 11px;
    font-size: 20px;

}

#massage {

    width: 479px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 5px;
    display: block;
    padding: 0px 11px;
    font-size: 20px;
}

.send {

    text-align: center;
    font-size: 25px;
    color: #445162;
    background-color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 200px;
    margin-bottom: 50px;

}

/********************************************************footer***************************************************/
.footer a {
    font-size: 20px;
    color: #445162;
    text-decoration-line: none;

}

/******************************************media*****************************************/
@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    .section--header .container {
        flex-direction: column;

    }
}

@media (min-width: 980px) {
    .container {

        width: 976px;
    }
}